<h1>Editing Movie</h1>

<%= render 'form', movie: @movie %>

<div class="mt-3">
  <%= link_to 'delete movie', movie_path(@movie),
                              method: :delete,
                              data: { confirm: 'warning before deleting movie'},
                              class: 'btn btn-danger' %>
</div>