<% if current_user_admin? %>
  <%= link_to 'Add Movie', new_movie_path, class: 'btn btn-primary mt-2' %>
<% end %>

<div class="row">
  <div class="col-lg-9">
    <h1>All Movies</h1>

    <div class="row mb-3">
      <%# render array of movies, each in the 'movies/movie'  %>
      <%= render partial: 'movies/movie', collection: @movies %>
    </div>
  </div>
  <div class="col-lg-3">
    <h1>Categories</h1>
    <div class="d-flex align-items-start flex-column bd-highlight">
    <%= render partial: 'categories/category', collection: @categories %>
    </div>
  </div>
</div>
