<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead mb-3">
      In your form <%= errors.count %> errors
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <% errors.full_messages.each do |message| %>
      <ul class="errors_list">
        <li>
          <%= message %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>