<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead mb-3">
      <%= t('errors', count: errors.count) %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <% errors.full_messages.each do |message| %>
      <li class="errors_list">
        <ul>
          <%= message %>
        </ul>
      </li>
    <% end %>
  </div>
<% end %>