/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub "active_admin"
 */

/*
have some issue with @import "node_modules/bootstrap/scss/bootstrap" path:
File to import not found or unreadable: node_modules/bootstrap/scss/bootstrap.
just added few ../ to the beginning
*/
@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: Kalimati;
  background: #0e0e0e;
  color: #EFEFEF;
}

h1, h2 {
  margin-top: 20px;
}

/* Navbar */
.navbar-nav {
  flex-direction: row;
}

.dropdown {
  .dropdown-header {
    color: #0e0e0e;
  }
}

.navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* Errors */
.errors_list {
  list-style-type: none;
}

.errors_list ul {
  margin-left: 0;
  padding-left: 0;
}
